.logo {
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.3);
    letter-spacing: 0.1em;
    font-size: 165%;
}

.logo-kana {
    color: #fff;
    position: absolute;
    top: 45px;
    left: 42px;
    letter-spacing: 0.3em;
}

h1 {
    font-size: 200%;
    border-left: 3px solid #000;
    padding-left: 10px;
}

nav {
    background-color: #017f25;
    background-image: image-url('dog-icon.png');
    background-position: left 180px top 10px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
}

.container {
    margin-top: 90px;
    margin-bottom: 120px;
}

footer {
    position: left bottom fixed;
    margin-top: 50px;
    background-color: #017f25;
}

.d-fl {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-around;
}

.grad-img {
    max-width: 100%;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width:575px) {

    h1 {
        font-size: 140%;
    }

    .navbar.navbar-2 .navbar-toggler-icon {
        background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger2.svg?color=fff');
    }
}

@media print {

    header,
    footer {
        display: none;
    }

    .print {
        display: none;
    }

}
